<div
  class="modal fade"
  id="myModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body w-100">
        <div class="row">
          <div class="col-12">
            <div
              class="d-flex flex-column justify-content-center align-items-center"
            >
              <h4><i class="fa fa-lock fa-4x"></i></h4>
              <p>Please Enter your registered Email Id to reset the password</p>
              <form class="w-50" [formGroup]="form">
                <div class="form-group row col-12">
                  <input
                    type="text"
                    formControlName="email"
                    class="form-control"
                    placeholder="Email Address"
                  />
                  <small
                    class="form-text text-muted text-danger"
                    *ngIf="hasError('email', 'required')"
                    >* Email Address is Required
                  </small>
                  <small
                    class="form-text text-muted text-danger"
                    *ngIf="hasError('email', 'email')"
                    >* Email Address is Not Correct</small
                  >
                </div>
                <div class="form-group row col-12 w-100">
                  <button
                    (click)="submitEmail()"
                    [disabled]="form.invalid"
                    type="button"
                    class="btn btn-primary btn-block fa-lg gradient-custom-2"
                  >
                    Submit
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="myModal2"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body w-100">
        <div class="row">
          <div class="col-12">
            <div
              class="d-flex flex-column justify-content-center align-items-center"
            >
              <h4><i class="fa fa-lock fa-4x"></i></h4>

              <form class="w-75" [formGroup]="resetPasswordForm">
                <div class="form-group row col-12">
                  <label for="exampleInputEmail1">Password</label>
                  <input
                    type="password"
                    formControlName="password"
                    class="form-control"
                    placeholder="Password"
                  />
                  <small
                    class="form-text text-muted text-danger"
                    *ngIf="hasPasswordError('password', 'required')"
                    >* Password is Required
                  </small>
                </div>
                <div class="form-group row col-12 my-3">
                  <label for="exampleInputEmail1">Confirm Password</label>
                  <input
                    type="password"
                    formControlName="confirmPassword"
                    class="form-control"
                    placeholder="Conform Password"
                  />
                  <small
                    class="form-text text-muted text-danger"
                    *ngIf="hasPasswordError('confirmPassword', 'required')"
                    >* Conform Password is Required
                  </small>
                  <small
                    class="form-text text-muted text-danger"
                    *ngIf="
                      (resetPasswordForm.controls['confirmPassword'].dirty ||
                        resetPasswordForm.controls['confirmPassword']
                          .touched) &&
                      (resetPasswordForm.errors ||
                        resetPasswordForm.errors?.mismatch)
                    "
                  >
                    * Password doesn't match
                  </small>
                </div>
                <div class="form-group row col-12 w-100">
                  <button
                    (click)="resetPassword()"
                    [disabled]="resetPasswordForm.invalid"
                    type="button"
                    class="btn btn-primary btn-block fa-lg gradient-custom-2"
                  >
                    Reset Password
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
