
<div *ngIf="data.dataFor=='updateStatus'">
  <div class="row">
    <div class="col-12 text-center bolder py-2"><h3 class="md-text"><b>Are You Sure Want To Change Profile Status {{data?.checked==true?'Archive':"un-Archive"}} ?</b> </h3></div>
    <hr>
    <div class="col-12 d-flex justify-content-between  mt-0">
      <button type="button" (click)="changeStatus('no')" class="btn btn-warning btn-block fa-lg gradient-custom-2 mt-0" data-bs-dismiss="modal" >No</button>
      <button type="button" (click)="changeStatus('yes')"  class="btn btn-primary btn-block fa-lg gradient-custom-2 mt-0" data-bs-dismiss="modal" >YES</button>

    </div>
  </div>
</div>

<div *ngIf="data.dataFor=='deleteChild'">
  <div class="row">
    <div class="col-12 text-center bolder py-3"><h2 class="md-text"><b>Are You Sure Want To Delete {{data?.name}} Child  ?</b> </h2></div>
    <hr>
    <div class="col-12 d-flex justify-content-between  mt-0">
      <button type="button"  (click)="onClose()" class="btn btn-primary btn-block fa-lg gradient-custom-2 mt-0" data-bs-dismiss="modal" >No</button>
      <button type="button" (click)="deleteChild()"  class="btn btn-warning btn-block fa-lg gradient-custom-2 mt-0" data-bs-dismiss="modal" >YES</button>

    </div>
  </div>
</div>
<div *ngIf="data.dataFor=='deleteSchool'">
  <div class="row">
    <div class="col-12 text-center bolder py-3"><h2 class="md-text"><b>Are You Sure Want To Delete School ?</b> </h2></div>
    <hr>
    <div class="col-12 d-flex justify-content-between  mt-0">
      <button type="button"  (click)="onClose()" class="btn btn-primary btn-block fa-lg gradient-custom-2 mt-0" data-bs-dismiss="modal" >No</button>
      <button type="button" (click)="deleteSchool()"  class="btn btn-warning btn-block fa-lg gradient-custom-2 mt-0" data-bs-dismiss="modal" >YES</button>

    </div>
  </div>
</div>
<div *ngIf="data?.dataFor=='displayChildrens'">
  <div class="d-flex justify-content-between align-item-center pt-3 pb-2" >
    <span class="text-center"></span> <span class="title md-text">Niños de {{data?.fullName}}</span>
    <button
            type="button"
            class="btn-close"
            (click)="onClose()"
            aria-label="Close"
          ></button>
  </div>
  <hr>
  <div class="row col-12 table-div m-1 p-1" *ngIf="data?.childrens?.length>0">
    <table mat-table [dataSource]="childDataSource" class="mat-elevation-z8">


      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
      </ng-container>


      <ng-container matColumnDef="childName">
        <th mat-header-cell *matHeaderCellDef> Child Name </th>
        <td mat-cell *matCellDef="let element"> {{element.childName}} </td>
      </ng-container>


      <ng-container matColumnDef="dateOfBirth">
        <th mat-header-cell *matHeaderCellDef> Fecha de nacimiento  </th>
        <td mat-cell *matCellDef="let element"> {{element?.dateOfBirth}} </td>
      </ng-container>


       <ng-container matColumnDef="schoolName">
        <th mat-header-cell *matHeaderCellDef> Escuela </th>
        <td mat-cell *matCellDef="let element" class=""> {{element?.schoolName}} </td>
      </ng-container>


      <ng-container matColumnDef="costType">
        <th mat-header-cell *matHeaderCellDef> Tipo de Costo  </th>
        <td mat-cell *matCellDef="let element"> {{element?.costType}} </td>
      </ng-container>
      <ng-container matColumnDef="PayableAmount">
        <th mat-header-cell *matHeaderCellDef> Payable Amount </th>
        <td mat-cell *matCellDef="let element" class="text-center"> {{element?.payableAmount|currency:'USD':true:'1.0-0'}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedChildColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedChildColumns;"></tr>
    </table>


  </div>
</div>

