
::ng-deep .mat-dialog-container {
  padding: 10px 20px !important;
}

.select-box{
  border-radius: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}
::ng-deep .mat-form-field-wrapper{
  padding-bottom: 0px !important;
}

.table-div{
  max-height: 300px;
  overflow-y: auto;
}

