
#print-table ,#invoice-detail{
  width: 100% !important;
  font-size: 30px;
}
#print-table{
  border-collapse: collapse;
  text-align: center;
}
#print-table th{
  color: blue;
}
.client-details{
  display: flex;
  flex-direction: column;
}
 hr{
  border-top: 2px solid black;
}
.title{
  display: none;
}
#invoice-detail .row{
  width: 100%;
  display: flex;
justify-content: space-between;
}

#invoice-detail .text-end{
  display: flex;
  align-items: end;
  justify-content: end;
}

