<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-6">
      <div class="card card-user">
        <div class="card-body">
          <div
            class="d-flex flex-column justify-content-center align-items-center"
          ></div>
          <div class="row">
            <div class="col-12">
              <div class="row d-flex justify-content-end">
                <h2 class="col-6 d-flex justify-content-end">
                  <b class="lg-text text-danger">Costso</b>
                </h2>
                <h2
                  class="col-5 d-flex justify-content-end"
                  (click)="addNewCost()"
                >
                  <mat-icon class="add_icon pointer"
                    >add_circle_outline</mat-icon
                  >
                </h2>
              </div>

              <div class="row example-container mat-elevation-z8"  >
                <div class="table-responsive mat-elevation-z8" >
                  <table
                    mat-table
                    [dataSource]="dataSource"
                    class="mat-elevation-z8 table my-1"
                  >
                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                      <th mat-header-cell *matHeaderCellDef class="bolder md-text text-primary">No.</th>
                      <td mat-cell *matCellDef="let element; let i = index">
                        {{ i + 1 }}
                      </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="amountType">
                      <th mat-header-cell *matHeaderCellDef class="bolder md-text text-primary">Tipo de cantidad</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element?.costType }}
                      </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="amount">
                      <th mat-header-cell *matHeaderCellDef class="bolder md-text text-primary">Cantidad</th>
                      <td mat-cell *matCellDef="let element">
                        {{
                          element?.costRate | currency : "USD" : true : "1.0-0"
                        }}
                      </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="updateCost">
                      <th mat-header-cell *matHeaderCellDef class="text-center bolder md-text text-primary">
                        Actualizar Costo
                      </th>
                      <td
                        mat-cell
                        *matCellDef="let element"
                        class="text-center"
                      >
                        <mat-icon
                          (click)="openDialog(element)"
                          color="primary"
                          class="cursor-pointer pointer lg-text"
                          >edit</mat-icon
                        >
                      </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr
                      mat-row
                      *matRowDef="let row; columns: displayedColumns"
                    ></tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- school table -->
    <div class="col-md-6">
      <div class="card card-user">
        <div class="card-body">
          <div
            class="d-flex flex-column justify-content-center align-items-center"
          ></div>
          <div class="row">
            <div class="col-12">
              <div class="row d-flex justify-content-end">
                <h2 class="col-6 d-flex justify-content-end">
                  <b class="lg-text text-danger">School List</b>
                </h2>
                <h2
                  class="col-5 d-flex justify-content-end"
                  (click)="addNewSchool()"
                >
                  <mat-icon class="add_icon pointer"
                    >add_circle_outline</mat-icon
                  >
                </h2>
              </div>

              <div class="row example-container mat-elevation-z8" >
                <div class="table-responsive mat-elevation-z8" >
                  <table
                    mat-table
                    [dataSource]="schoolsDataSource"
                    class="mat-elevation-z8 table my-1"
                  >
                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                      <th mat-header-cell *matHeaderCellDef bolder md-text text-primary class="bolder md-text text-primary">No.</th>
                      <td mat-cell *matCellDef="let element; let i = index">
                        {{ i + 1 }}
                      </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="schoolName">
                      <th mat-header-cell *matHeaderCellDef class="bolder md-text text-primary">Nombre de Escuela</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element?.schoolName }}
                      </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="updateSchool">
                      <th mat-header-cell *matHeaderCellDef class="text-center bolder md-text text-primary">
                        Actualizar Escuela
                      </th>
                      <td
                        mat-cell
                        *matCellDef="let element"
                        class="text-center"
                      >
                        <mat-icon
                          (click)="openSchoolDialog(element)"
                          color="primary"
                          class="cursor-pointer pointer lg-text"
                          >edit</mat-icon
                        >
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="deleteSchool">
                      <th mat-header-cell *matHeaderCellDef class="text-center bolder md-text text-primary">
                        Delete School
                      </th>
                      <td
                        mat-cell
                        *matCellDef="let element"
                        class="text-center"
                      >
                        <mat-icon
                          (click)="conformDeleteSchool(element)"
                          color="primary"
                          class="cursor-pointer pointer lg-text"
                          >delete</mat-icon
                        >
                      </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedSchoolColumns"></tr>
                    <tr
                      mat-row
                      *matRowDef="let row; columns: displayedSchoolColumns"
                    ></tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="myModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="!aboutSchoolDialogBox"
          class="modal-title text-center d-flex justify-content-center"
          id="exampleModalLabel"
        >
          <b *ngIf="editValue" class="md-text text-center">
            Actualizar Costo {{ currentCost?.costType }}
          </b>
          <b *ngIf="!editValue" class="md-text text-center">Agregar nuevo costo</b>
        </h5>
        <h5 *ngIf="aboutSchoolDialogBox"
          class="modal-title text-center d-flex justify-content-center"
          id="exampleModalLabel"
        >
          <b *ngIf="schoolEditValue" class="md-text text-center">
            Escuela De Actualización
          </b>
          <b *ngIf="!schoolEditValue" class="md-text text-center"> Agregar nuevo escuela</b>
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body w-100">
        <div class="row" *ngIf="!aboutSchoolDialogBox">
          <div class="col-12">
            <div
              class="d-flex flex-column justify-content-center align-items-center"
            >
              <form class="w-75" [formGroup]="form">
                <div class="form-group row col-12">
                  <input
              type="hidden"
              formControlName="adminId"
              class="form-control"
            />
                  <label for="exampleInputEmail1" class="my-1"
                    >Ingrese el tipo de costo
                  </label>
                  <input
                    type="text"
                    [readOnly]="editValue"
                    formControlName="costType"
                    class="form-control"
                    placeholder="Enter cost type"
                  />
                  <small
                    class="form-text text-muted text-danger"
                    *ngIf="hasError('costType', 'required')"
                    >* Req el tipo de costo
                  </small>
                </div>
                <div class="form-group row col-12 my-3">
                  <label for="exampleInputEmail1" class="my-1"
                    >Ingrese la tasa de costo</label
                  >
                  <input
                    type="number"
                    formControlName="costRate"
                    class="form-control"
                    appNumbersOnly
                    placeholder="Enter cost rate"
                  />
                  <small
                    class="form-text text-muted text-danger"
                    *ngIf="hasError('costRate', 'required')"
                    >* req costo
                  </small>
                </div>
                <div class="form-group row col-12 w-100">
                  <button
                    *ngIf="!editValue"
                    (click)="addCost()"
                    [disabled]="form.invalid"
                    type="button"
                    class="btn btn-primary btn-block fa-lg gradient-custom-2"
                  >
                  Agregar Costo
                  </button>
                  <button
                    *ngIf="editValue"
                    [disabled]="form.invalid"
                    type="button"
                    class="btn btn-primary btn-block fa-lg gradient-custom-2 mt-0"
                    (click)="updateCost()"
                  >
                  Actualizar Costo
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="aboutSchoolDialogBox">
          <div class="col-12">
            <div
              class="d-flex flex-column justify-content-center align-items-center"
            >
              <form class="w-75" [formGroup]="schoolForm">
                <div class="form-group row col-12">
                  <input
              type="hidden"
              formControlName="adminId"
              class="form-control"
            />
                  <label for="exampleInputEmail1" class="my-1"
                    >Agrega Escuela
                  </label>

                  <input
                    type="text"
                    formControlName="schoolName"
                    class="form-control"
                    placeholder="Enter School Name"
                  />
                  <small
                    class="form-text text-muted text-danger"
                    *ngIf="hasSchoolError('schoolName', 'required')"
                    >* req eecuela
                  </small>
                </div>

                <div class="form-group row col-12 w-100">
                  <button
                    *ngIf="!schoolEditValue"
                    (click)="addSchool()"
                    [disabled]="schoolForm.invalid"
                    type="button"
                    class="btn btn-primary btn-block fa-lg gradient-custom-2"
                  >
                  Agregar Escuela
                  </button>
                  <button
                    *ngIf="schoolEditValue"
                    [disabled]="schoolForm.invalid"
                    type="button"
                    class="btn btn-primary btn-block fa-lg gradient-custom-2 mt-0"
                    (click)="updateSchool()"
                  >
                  Actualizar Escuela
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
