<div class="panel-header panel-header-sm"></div>
<div class="main-content" *ngIf="clientDetails?._id">
  <div class="row">
    <div class="col-12">
      <div class="card d-flex justify-content-between">
        <div class="row">
          <div class="col-3">
            <button
              type="button"
              [routerLink]="['/billing-detail']"
              class="btn btn-info mx-1 md-text d-flex justify-content-between align-item-center"
            >
              <mat-icon>arrow_back</mat-icon> <b class="ml-1">Back</b>
            </button>
          </div>
          <div class="col-8">
            <div class="card-header d-flex justify-content-evenly">
              <h4 class="card-title md-text text-center">
                <b
                  >cliente : {{ clientDetails?.fullName }} #{{
                    clientDetails?.clientId
                  }}
                </b>
              </h4>
              <h4 class="card-title md-text text-center">
                <b>Mobile : {{ clientDetails?.primaryPhoneNumber }} </b>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title md-text"><b>Detalles De Ninos</b></h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 mb-5">
              <mat-table [dataSource]="childDataSource">
                <!-- Columns -->
                <ng-container matColumnDef="position">
                  <mat-header-cell *matHeaderCellDef> No </mat-header-cell>
                  <mat-cell *matCellDef="let element; let i = index">
                    {{ i + 1 }}</mat-cell
                  >
                  <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                </ng-container>

                <ng-container matColumnDef="childName">
                  <mat-header-cell *matHeaderCellDef>
                    Cliente nombre
                  </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    {{ element.childName }}
                  </mat-cell>
                  <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                </ng-container>

                <ng-container matColumnDef="schoolName">
                  <mat-header-cell class="right-align" *matHeaderCellDef>
                    Escuela
                  </mat-header-cell>
                  <mat-cell class="right-align" *matCellDef="let element">
                    {{ element?.schoolName }}</mat-cell
                  >
                  <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                </ng-container>

                <ng-container matColumnDef="PayableAmount">
                  <mat-header-cell *matHeaderCellDef>
                    Payable Amount
                  </mat-header-cell>
                  <mat-cell *matCellDef="let element" class="text-center">
                    {{
                      element?.payableAmount | currency : "USD" : true : "1.0-0"
                    }}
                  </mat-cell>
                  <mat-footer-cell *matFooterCellDef
                    >Total:
                    {{
                      clientDetails?.totalAmount | currency : "USD" : true : "1.0-0"
                    }}</mat-footer-cell
                  >
                </ng-container>

                <!-- Rows -->
                <mat-header-row
                  class="sticky-header"
                  *matHeaderRowDef="displayedChildColumns"
                ></mat-header-row>
                <mat-row
                  *matRowDef="let row; columns: displayedChildColumns"
                ></mat-row>
                <mat-footer-row
                  class="sticky-footer"
                  *matFooterRowDef="displayedChildColumns"
                ></mat-footer-row>
              </mat-table>
            </div>

            <form [formGroup]="form">
              <div class="col-8 my-3">
                <div class="form-group">
                  <label>modo de pago </label>
                  <select
                    class="form-select select-class"
                    formControlName="paymentMode"
                  >
                    <option value="" selected disabled>
                      ----Selecciona Modo De Pago----
                    </option>
                    <option
                      *ngFor="let paymentType of paymentMode"
                      [value]="paymentType"
                    >
                      {{ paymentType }}
                    </option>

                  </select>
                  <small
                        class="form-text text-muted text-danger"
                        *ngIf="
                          hasError('paymentMode', 'required')
                        "
                        >* req modo de pago
                      </small>
                </div>
              </div>
              <div class="col-8 my-3">
                <div class="form-group">
                  <label>Descuento  </label>
                  <select
                    (change)="selectDiscount()"
                    class="form-select select-class"
                    formControlName="discountCost"

                  >
                    <option value="" selected disabled>
                      ----Selecciona Descuento ----
                    </option>
                    <option
                      *ngFor="let discount of discountRate"
                      [value]="discount"
                    >
                      {{ discount | currency : "USD" : true : "1.0-0" }} OFF
                    </option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-6 my-3">
                  <div class="form-group">
                    <label>Costo Extra</label>
                    <input
                      type="number"
                      (keyup)="selectedExtraCost()"
                      formControlName="extraCost"
                      class="form-control"
                      placeholder="$ 00"
                    />
                  </div>
                </div>
                <div class="col-6 mt-4 mb-3">
                  <div class="form-group">
                    <label></label>
                    <input
                      formControlName="reasonForExtraCost"
                      type="text"
                      class="form-control"
                      placeholder="razón por costo extra"
                    />
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div *ngIf="recentPaidWeek" class="text-center bg-warning py-2">
          <h2><b>pago más reciente recibido</b></h2>

          <b class="md-text">
            {{
              moment(recentPaidWeek?.collectPaymentWeeks?.fromDate).format(
                "YYYY-MM-DD"
              )
            }}
            ----
          </b>
          <b class="md-text">{{
            moment(recentPaidWeek?.collectPaymentWeeks?.toDate).format(
              "YYYY-MM-DD"
            )
          }}</b>
        </div>
        <div class="card-header">
          <h4 class="card-title md-text"><b>Crear Invoice</b></h4>
        </div>
        <div class="card-body">
          <div class="col-10">
            <label> Selecciona Semana  </label>
            <div class="d-flex flex-column">
              <mat-form-field appearance="outline" class="mb-0">
                <mat-date-range-input
                  [rangePicker]="picker"
                  #week
                  [dateFilter]="dateFilterFn"
                  [min]="lastWeek"
                >
                  <input
                    matStartDate
                    min="{{ lastWeek }}"
                    (dateChange)="selectedStartDate($event.target.value)"
                    placeholder="YYYY-MM-DD"
                  />
                  <input
                    matEndDate
                    placeholder="YYYY-MM-DD"
                    (dateChange)="selectedEndDate($event.target.value)"
                  />
                </mat-date-range-input>
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>
            </div>
          </div>
          <div class="col-12" *ngIf="collectPaymentWeeks.length > 0">
            <table
              mat-table
              [dataSource]="weeksDataSource"
              class="mat-elevation-z8 w-100"
            >
              <ng-container matColumnDef="fromDate">
                <th mat-header-cell *matHeaderCellDef>From Date</th>
                <td mat-cell *matCellDef="let element">
                  {{ element?.fromDate }}
                </td>
              </ng-container>

              <ng-container matColumnDef="toDate">
                <th mat-header-cell *matHeaderCellDef>To Date</th>
                <td mat-cell *matCellDef="let element">
                  {{ element?.toDate }}
                </td>
              </ng-container>

              <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef>Amount</th>
                <td mat-cell *matCellDef="let element" class="text-center">
                  {{ element?.paidAmount | currency : "USD" : true : "1.0-0" }}
                </td>
              </ng-container>

              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef>Delete</th>
                <td mat-cell *matCellDef="let element; let i = index">
                  <mat-icon
                    color="warn"
                    class="delete-icon cursor-pointer pointer text-center"
                    (click)="deleteWeek(i)"
                    >delete</mat-icon
                  >
                </td>
              </ng-container>

              <tr
                mat-header-row
                *matHeaderRowDef="['fromDate', 'toDate', 'amount', 'delete']"
              ></tr>
              <tr
                mat-row
                *matRowDef="
                  let row;
                  columns: ['fromDate', 'toDate', 'amount', 'delete']
                "
              ></tr>
            </table>
          </div>
          <div class="col-12 my-5" *ngIf="collectPaymentWeeks.length > 0">
            <hr />
            <div class="row">
              <div class="col-6 md-text">SUB TOTAL</div>
              <div class="col-6 lg-text d-flex justify-content-end">
                {{ subTotal ?? 0 | currency : "USD" : true : "1.0-0" }}
              </div>
            </div>
            <hr *ngIf="extraAmount > 0" />
            <div class="row" *ngIf="extraAmount > 0">
              <div class="col-6 md-text">cantidad extra</div>
              <div class="col-6 lg-text d-flex justify-content-end">
                + {{ extraAmount | currency : "USD" : true : "1.0-0" }}
              </div>
            </div>
            <hr *ngIf="selectedDiscount > 0" />
            <div class="row" *ngIf="selectedDiscount > 0">
              <div class="col-6 md-text">descuento adicional </div>
              <div class="col-6 lg-text d-flex justify-content-end">
                - {{ selectedDiscount | currency : "USD" : true : "1.0-0" }}
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-6 md-text">TOTAL</div>
              <div class="col-6 lg-text d-flex justify-content-end">
                {{ totalPayment ?? 0 | currency : "USD" : true : "1.0-0" }}
              </div>
            </div>
            <hr />
          </div>
          <div class="col-12 my-3 d-flex justify-content-center">
            <button
              type="button"
              [disabled]="!form.valid"
              (click)="collectPayment()"
              class="btn btn-success mx-1"
            >
             COBRAR
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  *ngIf="!clientDetails?._id"
  class="else-block d-flex justify-content-center align-item-center lg-text w-100 mt-5"
>
  <b class="mt-5">Please Select Client for Generate Invoice</b>
</div>
