.select-class{
  border-radius: 20px 20px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start{
  border-radius: 50px 0 0 50px !important;
  min-width: 50px !important;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end{
  border-radius: 0 50px 50px 0 !important;
}

.else-block{
  height: 80vh;

}
