<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="table-heading d-flex justify-content-between mx-3 mt-4">
          <h5 class="card-title lg-text"><b>Detalles de cliente</b></h5>
          <div class="form-group has-search col-3">
            <span class="fa fa-search form-control-feedback"></span>
            <input  #search (keyup)="getSearchValue(search.value)" type="text" class="form-control" placeholder="Search ...">
          </div>
          <h5 class="md-text bolder">fecha: {{ today }}</h5>
        </div>
        <div class="card-header d-flex justify-content-end">
          <div class="form-group">
            <select
              [(ngModel)]="statusFilter"
              (change)="selectedStatus($event.target.value)"
              class="form-select select-class pointer"
            >
              <option selected value="all">Todos Clientes</option>
              <option value="archive">Archivado Clientes</option>
              <option value="unArchive">Desarchivar Clientes</option>
              <!-- <option value="inactive">Inactive Clients</option> -->
            </select>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table " border="2">
              <thead class="text-primary thead-class">
                <th class="py-3 px-3">Id</th>
                <th class="py-3">Nombre Completo </th>
                <th class="py-3">Mobile</th>
                <th class="text-center py-3">Weekly Payable Amount</th>
                <th class="text-center py-3">Estado de perfil </th>
                <th class="text-center py-3">Actualizar Estado</th>
                <th class="text-center py-3">Cantidad de niños</th>
                <th class="text-center py-3">Ver perfil</th>
                <th class="text-center py-3">Editar Perfil </th>
              </thead>
              <tbody *ngIf="clientsList">
                <tr
                  *ngFor="
                    let client of clientsList
                      | paginate
                        : {
                            itemsPerPage: 100,
                            currentPage: page,
                            totalItems: totalClients
                          };
                    let i = index
                  "
                >
                  <td>
                    {{ client.clientId }}
                  </td>
                  <td>
                    {{ client?.fullName }}
                  </td>
                  <td>
                    {{ client.primaryPhoneNumber }}
                  </td>
                  <td class="text-center">

                    $ {{ client.totalAmount > 0 ? client.totalAmount : 0  }}
                  </td>
                  <td class="text-center">
                    <span
                      *ngIf="client?.profileStatus == 'unArchive'"
                      class="badge bg-success sm-text"
                      >Desarchivar</span
                    >
                    <span
                      *ngIf="client?.profileStatus == 'archive'"
                      class="badge bg-warning p-2 px-4 sm-text"
                      >Archivado</span
                    >
                  </td>
                  <td class="text-center">
                    <mat-slide-toggle
                      [checked]="checkedBtn[client._id]"
                      (change)="changeStatus($event, client)"
                    ></mat-slide-toggle>
                  </td>
                  <td
                    class="text-center text-primary"
                    (click)="viewChildrens(client)"
                  >
                    <b class="md-text pointer">
                      {{ client?.childrens?.length }}</b
                    >
                  </td>
                  <td class="text-center">
                    <svg
                      (click)="viewClientProfile(client, 'view')"
                      xmlns="http://www.w3.org/2000/svg"
                      width="23"
                      height="23"
                      fill="currentColor"
                      class="bi bi-eye-fill pointer"
                      viewBox="0 0 16 16"
                    >
                      <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                      <path
                        d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"
                      />
                    </svg>
                  </td>
                  <td class="text-center cursor-pointer">
                    <mat-icon
                      (click)="viewClientProfile(client, 'edit')"
                      color="primary"
                      class="lg-text pointer"
                      >create</mat-icon
                    >

                  </td>
                </tr>
              </tbody>
            </table>
            <div class="w-100" *ngIf="clientsList.length == 0">
              <h4 class="text-center md-text">No Data To Display</h4>
            </div>
            <div class="d-flex justify-content-end">
              <pagination-controls
                (pageChange)="renderPage($event)"
              ></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
