<div class="wrapper">
    <div class="sidebar" data-color="red">
        <app-sidebar></app-sidebar>
    </div>
    <div class="main-panel">
        <app-navbar></app-navbar>
        <router-outlet></router-outlet>
        <!-- <app-footer></app-footer> -->
    </div>
</div>

<div
  class="modal fade"
  id="logoutModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body w-100">
        <div class="row">
          <div class="col-12 text-center bolder"><h3 class="md-text">¿Seguro que quieres cerrar la sesión ?</h3></div>
          <div class="col-12 d-flex justify-content-between  mt-0">
            <button type="button" class="btn btn-info btn-block fa-lg gradient-custom-2 mt-0" data-bs-dismiss="modal" >Cancelar</button>
            <button type="button" (click)="logOut()" class="btn btn-primary btn-block fa-lg gradient-custom-2 mt-0" data-bs-dismiss="modal" >Cerrar sesión</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
