<nav
  class="navbar navbar-expand-lg navbar-transparent navbar-absolute bg-primary fixed-top"
>
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-toggle">
        <button type="button" class="navbar-toggler" (click)="sidebarToggle()">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <b class="lg-text pt-3">{{ getTitle() | uppercase }}</b>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      (click)="collapse()"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseExample"
    >
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="collapseExample"
      [ngbCollapse]="isCollapsed"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <div>
            <i class="now-ui-icons users_single-02"></i>
            <p class="px-2">{{ userDetails.full_name }}</p>
          </div>
          <p>{{ userDetails?.email_id }}</p>
        </li>
      </ul>
    </div>
  </div>
</nav>
