<div class="w-100 datpicker-div">
  <mat-form-field appearance="outline"  >
    <mat-date-range-input [rangePicker]="picker" #week  [dateFilter]="dateFilterFn"  >
      <input matStartDate min="{{todayDate}}" [value]="start??''"  (dateChange)="selectedStartDate($event.target.value)"  placeholder="YYYY-MM-DD" />
      <input matEndDate placeholder="YYYY-MM-DD" [value]="end??''" (dateChange)="selectedEndDate($event.target.value)"/>
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker  #picker></mat-date-range-picker>
  </mat-form-field>
</div>



