
<div id="print-section">
  <div class="d-flex justify-content-center pt-1 pb-2">
    <span class="text-center"></span>
    <span class="title md-text text-center">Invoice Details</span>
  </div>
  <div class="row flex-column client-details">
    <b>client-Id : {{clientDetails.clientId}}</b>
  <b>Client Name : {{clientDetails.fullName}}</b>
  <b>Phone Number : {{clientDetails.primaryPhoneNumber}}</b>
  </div>

  <hr />
  <div class="col-12 "  *ngIf="data?.collectPaymentWeeks.length > 0">
    <table border="1" id="print-table"
      mat-table
      [dataSource]="weeksDataSource"
      class="mat-elevation-z8 w-100 mat-tbl"
    >
      <ng-container matColumnDef="fromDate">
        <th mat-header-cell *matHeaderCellDef>From Date</th>
        <td mat-cell *matCellDef="let element">{{ element?.fromDate }}</td>
      </ng-container>

      <ng-container matColumnDef="toDate">
        <th mat-header-cell *matHeaderCellDef>To Date</th>
        <td mat-cell *matCellDef="let element">{{ element?.toDate }}</td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Amount</th>
        <td mat-cell *matCellDef="let element"ngClass="text-center" >
          {{ element?.paidAmount | currency : "USD" : true : "1.0-0" }}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="['fromDate', 'toDate', 'amount']"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: ['fromDate', 'toDate', 'amount']"
      ></tr>
    </table>
  </div>


  <div>
    <div class="col-12 my-5 " id="invoice-detail">
      <hr />
      <div class="row">
        <div class="col-6 md-text">SUB TOTAL</div>
        <div class="col-6 lg-text d-flex justify-content-end text-end">
          {{ data?.subTotal ?? 0 | currency : "USD" : true : "1.0-0" }}
        </div>
      </div>
      <hr *ngIf="data.extraCost !=null" />
      <div class="row" *ngIf="data.extraCost !=null">
        <div class="col-6 md-text">EXTRA AMOUNT</div>
        <div class="col-6 lg-text d-flex justify-content-end text-end">
          + {{ data.extraCost | currency : "USD" : true : "1.0-0" }}
        </div>
      </div>
      <hr *ngIf="data.discountCost !=''" />
      <div class="row" *ngIf="data.discountCost !=''">
        <div class="col-6 md-text ">ADDITIONAL DISCOUNT</div>
        <div class="col-6 lg-text d-flex justify-content-end text-end">
          - {{ data.discountCost | currency : "USD" : true : "1.0-0" }}
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-6 md-text">TOTAL</div>
        <div class="col-6 lg-text d-flex justify-content-end text-end">
          {{ data.totalPayment ?? 0 | currency : "USD" : true : "1.0-0" }}
        </div>
      </div>
      <hr />
    </div>
  </div>
</div>
<div class="row d-flex justify-content-between w-100 mt-4">
  <div class="col-6 d-flex justify-content-center">
    <button
      type="button"
      class="btn w-50 btn-warning btn-block fa-lg pointer gradient-custom-2 mt-0"
      (click)="onClose()"
    >
      Cancel
    </button>
  </div>
  <div class="col-6 d-flex justify-content-center">
    <button
      type="submit"
      class="btn col-6 btn-success btn-block pointer fa-lg gradient-custom-2 mt-0 complete-payment-btn"
      (click)="collectPayment()"
    >
      Complete Payment
    </button>
    <!-- <button class="btn-primary" styleSheetFile="../../../assets/scss/style.css" printTitle="Invoice Details"   printSectionId="print-section" ngxPrint >print</button> -->
  </div>
</div>
