<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="table-heading d-flex justify-content-between mx-3 mt-4">
          <h5 class="card-title lg-text">
            <b>Tabla semana Base</b>
          </h5>
          <h5 class="md-text">fecha: {{ today }}</h5>
        </div>

        <div class="card-header d-flex justify-content-between">
          <div class="form-group">
            <select
              class="form-select select-class"
              [(ngModel)]="statusFilter"
              (change)="selectedStatus($event.target.value)"
            >
              <option selected value="all">Todos Cliente </option>
              <option value="active">Clientes Activos</option>
              <option value="inactive">Clientes Inactivos</option>
              <!-- <option value="archive">Archive Clients</option> -->
            </select>
          </div>
          <div class="form-group has-search col-3">
            <span class="fa fa-search form-control-feedback"></span>
            <input  #search (keyup)="getSearchValue(search.value)" type="text" class="form-control" placeholder="Search ...">
          </div>

          <!-- <div class=" form-group col-3 w-25 d-flex flex-row">
\            <span class="fa fa-search form-control-feedback"></span>
            <input  (keyup)="getSearchValue(search.value)"
              name="secondaryPhoneNumber"
              type="text"
              #search
              class="form-control bolder"
              placeholder="Search Clients..."
            />
          </div> -->
          <div class="col-3 w-25">
            <app-datepicker
              (selectedData)="selectedWeek($event)"
              [start]="start"
              [end]="end"
            ></app-datepicker>
          </div>
          <div>
            <button
              type="button"
              (click)="exportClients()"
              class="btn btn-success export-btn"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-file-spreadsheet-fill mx-1"
                viewBox="0 0 16 16"
              >
                <path
                  d="M12 0H4a2 2 0 0 0-2 2v4h12V2a2 2 0 0 0-2-2zm2 7h-4v2h4V7zm0 3h-4v2h4v-2zm0 3h-4v3h2a2 2 0 0 0 2-2v-1zm-5 3v-3H6v3h3zm-4 0v-3H2v1a2 2 0 0 0 2 2h1zm-3-4h3v-2H2v2zm0-3h3V7H2v2zm4 0V7h3v2H6zm0 1h3v2H6v-2z"
                /></svg
              >Exportar
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table" border="2">
              <thead class="text-primary thead-class">
                <th class="px-3 py-3">Id</th>
                <th class="py-3">Nombre</th>

                <th class="py-3 text-center">Mobile</th>
                <th class="text-center py-3">Weekly Payment Amount</th>
                <th class="text-center py-3">monto de pago</th>
                <th class="text-center py-3">Status de pago</th>
                <th class="text-center py-3">Pagar el monto de la factura</th>
              </thead>

              <tbody>
                <tr
                  *ngFor="
                    let client of clientsList
                      | paginate
                        : {
                            itemsPerPage: 100,
                            currentPage: page,
                            totalItems: totalClients
                          };
                    let i = index
                  "
                >
                  <td>
                    {{ client?.clientId }}
                  </td>
                  <td>
                    {{ client?.fullName }}
                  </td>

                  <td>
                    {{ client?.primaryPhoneNumber }}
                  </td>
                  <td class="text-center">
                    $ {{ client?.totalAmount > 0 ? client?.totalAmount : 0 }}
                  </td>
                  <td class="text-center">
                    $ {{ client?.weeklyPayment?.paidAmount }}
                  </td>
                  <td class="text-center">
                    <span
                      *ngIf="client?.weeklyPayment?.paymentStatus == 'active'"
                      class="badge bg-success py-2 px-3 sm-text"
                      >Activos</span
                    >
                    <span
                      *ngIf="client?.weeklyPayment?.paymentStatus == 'inactive'"
                      class="badge bg-warning p-2 sm-text"
                      >Inactivos</span
                    >
                    <!-- <span *ngIf="client?.weeklyPayment?.paymentStatus=='archive'" class="badge bg-primary p-2  sm-text">Archive</span> -->
                  </td>
                  <td class="text-center">
                    <!-- <button (click)="temp(client)">temp</button> -->
                    <!-- <button type="button"  (click)="openStatusDialog(client)"  class="btn btn-success mx-1" > PAYMENT</button> -->
                    <span
                      (click)="openStatusDialog(client)"
                      class="badge bg-primary p-2 px-3 pointer sm-text"
                      >$ Pagar</span
                    >

                    <!-- <svg   (click)="openStatusDialog(client)" xmlns="http://www.w3.org/2000/svg" width="23"  height="23" fill="currentColor" class="bi bi-pencil-fill cursor-pointer" viewBox="0 0 16 16">
                      <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                    </svg> -->
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="w-100" *ngIf="clientsList.length == 0">
              <h4 class="text-center md-text">No Data To Display</h4>
            </div>
            <div class="d-flex justify-content-end">
              <pagination-controls
                (pageChange)="renderPage($event)"
              ></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
