<div class="container">
  <div class="row align-items-center vh-100">
    <div class="col-5 mx-auto">
      <div class="card shadow border">
        <div class="text-center">
          <img
            src="./assets/img/rgvpt-logo.png"
            class="w-25 mt-2"
            alt="rgvpt_Logo"
          />
          <h4 class="mt-1 mb-3 pb-1 lg-text bolder">We are The RGVPT Team</h4>
        </div>
        <div class="card-body d-flex flex-column align-items-center">
          <form class="w-75" [formGroup]="form">
            <div class="form-group my-2">
              <label for="exampleInputEmail1">UserName</label>
              <input
                type="text"
                class="form-control"
                required
                formControlName="email"
                placeholder="Enter Email"
              />
              <small
                class="form-text text-muted text-danger"
                *ngIf="hasError('email', 'required')"
                >* Email is Required
              </small>
            </div>
            <div class="form-group my-2">
              <label for="exampleInputPassword1">Password</label>
              <input
                type="password"
                class="form-control"
                required
                formControlName="password"
                placeholder="Password"
              />
              <small
                class="form-text text-muted text-danger"
                *ngIf="hasError('password', 'required')"
                >* Password is Required
              </small>
            </div>
            <div class="text-center d-flex flex-column pt-1 mb-5 pb-1">
              <button
                (click)="loginForm()"
                class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3"
                type="button"
              >
                Log in
              </button>
              <a
                class="text-muted"
                [routerLink]="['/forgot-password']"
                routerLinkActive="router-link-active"
                >Forgot password?</a
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
