<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="row col-12 card-header">
          <b class="title text-center lg-text">Agregar Perfil</b>
        </div>

        <div class="card-body">
          <form [formGroup]="form">
            <b class="title md-text">Contacto Principal </b>
            <!-- <input
            [readOnly]="!isEditable"
            [disabled]="!isEditable"
              type="hidden"
              formControlName="clientId"
              class="form-control "
            /> -->
            <input
              type="hidden"
              formControlName="adminId"
              class="form-control"
            />

            <div class="row d-flex justify-content-between my-2">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>Cliente ID</label>
                  <input
                    [readOnly]="!isEditable"
                    [disabled]="!isEditable"
                    type="text"
                    appNumbersOnly
                    formControlName="clientId"
                    class="form-control"
                    placeholder="Enter Client Id"
                  />
                  <small
                    class="form-text text-muted text-danger"
                    *ngIf="hasError('clientId', 'required')"
                    >* Client Id is Required
                  </small>
                  <small
                    class="form-text text-muted text-danger"
                    *ngIf="
                      hasError('clientId', 'minlength') ||
                      hasError('clientId', 'maxlength')
                    "
                    >* Client Id must be 6 digit numbers
                  </small>
                </div>
              </div>
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>Nombre Completo </label>
                  <input
                    [readOnly]="!isEditable"
                    [disabled]="!isEditable"
                    type="text"

                    formControlName="fullName"
                    class="form-control"
                    placeholder="Agrega nombre"
                  />
                  <small
                    class="form-text text-muted text-danger"
                    *ngIf="hasError('fullName', 'required')"
                    >* User Name is Required
                  </small>
                </div>
              </div>
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>Teléfono Principal </label>
                  <input
                    [readOnly]="!isEditable"
                    [disabled]="!isEditable"
                    type="text"
                    appNumbersOnly
                    formControlName="primaryPhoneNumber"
                    class="form-control"
                    placeholder="agregar número de teléfono "
                  />
                  <small
                    class="form-text text-muted text-danger"
                    *ngIf="hasError('primaryPhoneNumber', 'required')"
                    >* Req Telefono
                  </small>
                  <small
                    class="form-text text-muted text-danger"
                    *ngIf="hasError('primaryPhoneNumber', 'pattern')"
                    >* Phone Number is Not Valid
                  </small>
                  <small
                    class="form-text text-muted text-danger"
                    *ngIf="
                      hasError('primaryPhoneNumber', 'minlength') ||
                      hasError('primaryPhoneNumber', 'maxlength')
                    "
                    >* número de teléfono tiene que ser 10 digitos
                  </small>
                </div>
              </div>
            </div>
            <div class="row d-flex justify-content-between">
              <div class="col-md-5 pl-1">
                <div class="form-group">
                  <label for="name">Teléfono Secundaria</label>
                  <input
                    [readOnly]="!isEditable"
                    [disabled]="!isEditable"
                    name="secondaryPhoneNumber"
                    appNumbersOnly
                    formControlName="secondaryPhoneNumber"
                    type="text"
                    class="form-control"
                    placeholder="Teléfono secundaria "
                  />
                  <small
                    class="form-text text-muted text-danger"
                    *ngIf="hasError('secondaryPhoneNumber', 'pattern')"
                    >* Phone Number is Not Valid
                  </small>
                  <small
                    class="form-text text-muted text-danger"
                    *ngIf="
                      hasError('secondaryPhoneNumber', 'minlength') ||
                      hasError('secondaryPhoneNumber', 'maxlength')
                    "
                    >* número de teléfono tiene que ser 10 digitos
                  </small>
                </div>
              </div>
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Relación</label>
                  <select
                    [attr.disabled]="!isEditable ? '' : null"
                    class="form-select select-class"
                    formControlName="relationship"
                    required
                  >
                    <option value="" selected disabled>
                      ----Selecciona relación----
                    </option>
                    <option value="padre">Padre</option>
                    <option value="madre">Madre</option>
                    <option value="otros">Otros</option>
                  </select>

                  <small
                    class="form-text text-muted text-danger"
                    *ngIf="hasError('relationship', 'required')"
                    >* Req Relación
                  </small>
                </div>
              </div>
            </div>
            <hr />
            <div formArrayName="childrens">
              <b class="title md-text my-2">Detalles De Alumno</b>
              <div
                class="border border-dark my-2 py-2"
                *ngFor="
                  let child of childrens().controls;
                  let childIndex = index
                "
                [formGroupName]="childIndex"
              >
                <div class="row d-flex justify-content-evenly w-100">
                  <div class="col-5 p-1">
                    <!-- <input type="hidden" formControlName="payableAmount" /> -->
                    <div class="form-group">
                      <label>Nombre De Alumno</label>
                      <input

                        [readOnly]="!isEditable"
                        [disabled]="!isEditable"
                        type="text"
                        required
                        formControlName="childName"
                        class="form-control"
                        placeholder="Nombre completo"
                      />
                      <small
                        class="form-text text-muted text-danger"
                        *ngIf="
                          hasErrorChild('childName', 'required', childIndex)
                        "
                        >* req nombre de niño
                      </small>
                    </div>
                  </div>
                  <div class="col-5 p-1">
                    <div class="form-group">
                      <label>Fecha De Nacimiento </label>
                      <input
                        type="date"
                        [max]="today"
                        required
                        [readOnly]="!isEditable"
                        [disabled]="!isEditable"
                        formControlName="dateOfBirth"
                        class="form-control"
                        placeholder="Fecha de nacimiento "
                      />
                    </div>
                    <small
                      class="form-text text-muted text-danger"
                      *ngIf="
                        hasErrorChild('dateOfBirth', 'required', childIndex)
                      "
                      >* req fecha de nacimiento
                    </small>
                  </div>
                </div>
                <div class="row d-flex justify-content-evenly w-100">
                  <div class="col-5 p-1">
                    <label>Escuela</label>

                    <div class="form-group">
                      <select
                        class="form-select select-class"
                        [attr.disabled]="!isEditable ? '' : null"
                        formControlName="schoolName"
                      >
                        <option value="" selected disabled>
                          ----Selecciona Escuela----
                        </option>
                        <option
                          *ngFor="let school of schoolsList"
                          [value]="school.schoolName"
                        >
                          {{ school.schoolName }}
                        </option>
                      </select>
                      <small
                        class="form-text text-muted text-danger"
                        *ngIf="
                          hasErrorChild('schoolName', 'required', childIndex)
                        "
                        >* Req Eecuela
                      </small>
                    </div>
                  </div>

                  <div class="col-5 p-1">
                    <label>Costo</label>

                    <div class="form-group">
                      <select
                        class="form-select select-class"
                        [attr.disabled]="!isEditable ? '' : null"
                        (change)="selectedChildCostType()"
                        formControlName="costType"
                      >
                        <option value="" selected disabled>
                          ----selecciona Costo----
                        </option>
                        <option
                          *ngFor="let costType of costTypes"
                          [value]="costType"
                        >
                          {{ costType }}
                        </option>
                      </select>
                      <small
                        class="form-text text-muted text-danger"
                        *ngIf="
                          hasErrorChild('costType', 'required', childIndex)
                        "
                        >* req costo
                      </small>
                    </div>
                  </div>
                </div>
                <div
                  class="row col-12 d-flex justify-content-center align-items-center text-center"
                >
                  <button
                    *ngIf="isEditable == true && childrensLength > 1"
                    (click)="conformDeleteChild(childIndex)"
                    type="button"
                    class="btn btn-warning form-btn"
                    #tooltip="matTooltip"
                    matTooltip="Delete Child"
                    matTooltipPosition="right"
                    matTooltipHideDelay="1000"
                  >
                    Delete Child
                  </button>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center align-items-center">
              <button
                *ngIf="isEditable"
                (click)="addNewChild()"
                type="button"
                class="btn btn-primary mx-1"
                #tooltip="matTooltip"
                matTooltip="Agregar hijo(a) nuevo"
                matTooltipPosition="left"
                matTooltipHideDelay="1000"
              >
              agregar hijo(a)
              </button>
              <button
                *ngIf="!currentUser && isEditable"
                (click)="submitForm()"
                [disabled]="!form.valid || disableSubmit"
                type="button"
                class="btn btn-success mx-1"
                #tooltip="matTooltip"
                matTooltip="Submit Client Data"
                matTooltipPosition="right"
                matTooltipHideDelay="1000"
              >
              Guardar Cliente
              </button>
              <button
                *ngIf="currentUser && isEditable == true"
                (click)="UpdateClientData()"
                type="button"
                class="btn btn-success mx-1"
                #tooltip="matTooltip"
                matTooltip="Update Client Data"
                matTooltipPosition="right"
                matTooltipHideDelay="1000"
              >
              Actualizar Cliente
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="card-body">
          <div
            class="d-flex flex-column justify-content-center align-items-center"
          ></div>
          <div class="row">
            <div class="col-xl-12">
              <div class="row">
                <div class="col-10">
                  <b class="card-title text-uppercase mb-0 md-text">
                    Cantidad De Pagar
                  </b>
                </div>
                <div class="col-auto col-2">
                  <div
                    class="icon icon-shape bg-danger text-white rounded-circle shadow"
                  >
                    <!-- <i class="fas fa-chart-bar"></i> -->
                    <mat-icon class="lg-text"> monetization_on</mat-icon>
                  </div>
                </div>
              </div>
              <div class="row">
                <div
                  class="col-12 d-flex justify-content-center align-item-center"
                >
                  <b class="lg-text font-weight-bold mt-5">
                    {{ Amount | currency : "USD" : true : "1.0-0" }}
                  </b>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
