
input.ng-touched.ng-invalid{
  border:1px solid red;
}

.datepicker{
  height: 37px;
  border-radius: 0px 20px 20px 0px;
}
.form-btn{
  width: 140px !important;
}
.select-class{
  border-radius: 20px 20px;
}

.icon i {
  font-size: 2.25rem;
}
.icon-shape {
  display: inline-flex;
  padding: 12px;
  text-align: center;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 3rem;
  height: 3rem;
}


.birthDate{
  width: 250px;
}
