
<div class="logo">
  <div class="d-flex justify-content-center align-item-center">
    <img src="./assets/img/rgvpt-logo.png" alt="">
  </div>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a [routerLink]="[menuItem.path]">
                <i class="now-ui-icons {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
        <li routerLinkActive="active"  class=" nav-item">
          <a (click)="openModal()" >
              <i class="now-ui-icons media-1_button-power"></i>
              <p >Cerrar sesión</p>
          </a>
      </li>
      <li routerLinkActive="active"  class=" nav-item">
        <a  [routerLink]="['/settings']" >
            <i class="now-ui-icons ui-1_settings-gear-63"></i>
            <p >Ajustes</p>
        </a>
    </li>
    </ul>
</div>


