
<div class="panel-header panel-header-sm"></div>

<div class="main-content">
  <div class="row pointer" *ngIf="stats.length>0">
    <div class="col-lg-4" *ngFor="let stat of stats">
      <div class="card card-chart" (click)="filterClientDetailsData(stat.url,stat.filter)">
        <div class="card-header d-flex justify-content-between">
          <h4 class="card-title md-text"> {{stat.title}}</h4>
          <div
            class="icon icon-shape  {{stat.color}} text-white rounded-circle shadow"
          >
            <mat-icon> {{stat.icon}}</mat-icon>
          </div>
        </div>
        <div class="card-body">
          <h4 class="text-center md-text"> {{stat.value}}</h4>
        </div>
      </div>
    </div>
