

.lg-text{
  font-size: 28px !important;
  }
  .md-text{
    font-size: 20px !important;
  }

  .thead-class{
    border-bottom: 1px solid black;
  }

  label,th,td,.sm-text,mat-header-cell,mat-cell,mat-footer-cell{
    font-size: 16px !important;
  }
  .toast-top-center {
    top: 30px;
  }

  .client-table{
    height: 600px !important;
    max-height: 600px !important;
    overflow-y: auto;
  }
  .pointer{
    cursor: pointer;
  }

  .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
  }
  .has-search .form-control {
    padding-left: 2.375rem;
  }

  tbody :hover{
    background-color: rgb(229, 229, 223);
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button{
        -webkit-appearance: none;
        margin: 0;
      }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
